* {
    margin: 0%;
    padding: 0%;
}

.first {
    background-color: rgba(0, 0, 0, 0.362);
    width: 100%;
    height: 100px;

}

.second {
    height: 100px;
    width: auto;
    float: right;

}

.second h1 {
    height: auto;
    width: 140px;
    float: left;
    margin-top: 25px;

}

.cat {
    clear: both;
}

.sidebar {
    background-color: rgba(220, 78, 78, 0.362);

    width: 30%;
    height: 650px;
    float: left;
}

.cat {
    text-align: center;
    height: 315px;
    margin: 0px;
}

.cat ul {
    list-style: none;
}

.title {
    background-color: brown;
    width: 70%;
    float: right;
    height: 650px;

}

.t1 {
    text-align: center;
    height: 300px;
    width: 80%;
}

.n h1 {
    height: auto;
    width: 1000px;
    margin-top: px;
}



.t1 img {
    b1px solid border: lack;
    float: left;
    width: 30%;
    height: 100px;
    margin-left: 100px;
    margin-top: 30px;
}

.des {

    clear: both;
    width: 100%;
    height: 172px;
    color: white;
    margin: 80px;
    margin-top: 140px;
}

.readmore {

    height: auto;
    width: auto;
    padding: 10px;
    margin: 10px;



}

.readmore h1 {
    border: 5px solid black;
    width: 30%;
    margin-left: 30%;
    text-align: center;
    height: auto;


}

.str {
    background-color: darkblue;
    float: left;
    width: 30%;
    height: 240px;
    margin-left: 10px;
    margin-right: 10px;
    border: 5px solid black;

}

.str h1 {
    text-align: center;
    height: auto;
    width: auto;
}

.enter {
    background-color: aqua;
    float: left;
    width: 30%;
    height: 240px;
    margin-left: 10px;
    margin-right: 10px;
    border: 5px solid black;

}

.fe {
    background-color: yellow;
    float: left;
    width: 30%;
    height: 240px;
    margin-left: 10px;
    margin-right: 10px;
    border: 5px solid black;
}

.foot {
    background-color: rgba(0, 0, 0, 0.362);
    width: 100%;
    height: 150px;
    clear: both;

}

.logo {

    float: left;
    width: 33%;
    height: 30%;
}

.logo h1 {
    text-align: center;

}

.logo img {
    border: 5px solid black;
    width: 100px;
    height: 100px;
    margin-top: 20px;
}

.email {

    float: left;
    width: 33%;
    height: 50%;

}

.email h1 {
text-align: center;

}

.contact {

    float: left;
    width: 34%;
    height: 50%;
}

.contact h1 {
    text-align: center;


}
